/*!
 * TableExport.js v3.3.10 (https://www.travismclarke.com)
 * Copyright 2017 Travis Clarke
 * Licensed under the MIT license
 */

/*-----------------------------------/
/* CAPTION POSITIONS
/*----------------------------------*/

.top {
    caption-side: top;
}

.bottom {
    caption-side: bottom;
}

/*-----------------------------------/
/* BUTTON CUSTOM CLASSES
/*----------------------------------*/

.button-default, .button-default:hover, .button-default:focus, .button-default:active {
   
}

.button-default {
    font: bold 12px sans-serif;
    color: white;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
   background: green;

}

.button-default.xlsx:before, .button-default.xls:before, .button-default.csv:before, .button-default.txt:before {
    
}

.xlsx, .xls, .csv, .txt {
    margin: 4px;
}

.xlsx:before, .xls:before, .csv:before, .txt:before {
    margin-right: 5px;
    font-size: 30px
}

.xlsx:before {
    
    
}

.xls:before {
    
   
}

.csv:before {
 

}

.txt:before {
    
}
